.ipx-hero{
	justify-content: center;
    height: 50vh;
	display: flex;
    background-repeat:no-repeat;
    align-items: start;
    background-position: center;
    background-size: cover;
}
.ipx-hero-child{
    width: min(100%,1280px);
    min-height: 200px;
    background: white;
    border-radius: 10px;
    margin: -150px auto 0 auto;
    padding: 1.8rem 2.5rem;
    display: flex;
    box-shadow: 0 5px 20px #ccc;
    justify-content: space-around;
    column-gap: 0.5rem;
}
.darood-text{
    margin-top: 120px;
}
.ipx-hero-child > div {
    width: calc(100%/6);
}
.ipx-light-text{color: #ABABAB;margin-top: 45px;font-size: 25px;margin-bottom: 10px;}
.ipx-first-child-heading{
    color: #030303;
    font-size: 42px;
    line-height: 40px;
    font-weight: 500;
}
button.ipx-btn{ 
    cursor: pointer;
    display: block; min-width: 80px;margin: 0 auto;
    background: linear-gradient( to right,#8DD9C0,#19A2A5 );
    padding: 20px 10px;
    font-size: 20px;
    border: 0px;
    border-radius: 40px;
    color: white;
 }
button.ipx-btn:hover{background: linear-gradient( to left,#8DD9C0,#19A2A5 ); }
.ipx-country-card{
    box-shadow: 0 0 10px #ccc;
    border-radius: 10px;
}
.flagImage {
    height: 120px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
    background-position: center;
}
.ipx-card-description{
    padding: 1rem;
}
.ipx-card-flag-name{
    color: #5D7F8B;
    font-size: 24px;
}
.ipx-card-count{
    color: #BFBFBF;
    font-size: 11px;
    margin-top: 10px;
}
.btn-block{display: block;width: 100%;}
.ipx-pixels-section{ width: min(90%,1180px); margin:0 auto; margin-top: 50px;margin-bottom: 50px;}
.ipx-pixel-container{
    border-top: 1px solid #acacac;
    border-left: 1px solid #acacac;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.ipx-pixel-container p {
    margin: 0;
    background-color: #f1f1f1;
    display: block;
    width: 12px;
    height: 12px;
    padding: 0;
    border-right: 1px solid #acacac;
    border-bottom: 1px solid #acacac;
    cursor: pointer;
}

.ipx-pixel-container p:not(.taken):hover { background:yellow; }
/* The Modal (background) */
#ipx-profile-modal {
  display: none;/*  Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#ipx-profile-modal .ipx-modal-content {
    margin: auto;
    position: relative;
    width: min(80%,620px);
    background: white;
    color: white;
    border-radius: 10px;
}
#ipx-profile-modal a.btn {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px;
}
a.btn:hover {
    background: rgba(255,255,255,0.3);
}
.ipx-modal-header{
    background: linear-gradient( to bottom,#8DD9C0,#19A2A5 );
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.ipx-modal-header > div {
    text-align: center;
    margin: 10px 0;
}
div#ipx-darud-timer {
    display: none;
    color: black;
    text-align: center;
}
.ipx-modal-darud {
    font-size: 24px;
    width: min(90%,540px);
    margin: 0 auto;
    padding: 20px 0;
}

.ipx-profile-img {
    border-radius: 50%;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    background-position: center !important;
    background-size: cover !important;
}

.ipx-social-login-area{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ipx-social-login-area button{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border: 0;
    border-radius: 30px;
    text-align: center;
    margin: 10px 0;
    outline: 0;
    cursor: pointer;
}
.ipx-social-login-area button:disabled {
    background: lightgrey;
}
.ipx-login-facebook{
    background: linear-gradient(to left,#216ED9,#355BA6);
}
.ipx-login-google{
    background: linear-gradient(to left,#d92121,#a63535);
}

.ipx-login-facebook:hover{
    background: linear-gradient(to right,#216ED9,#355BA6);
}
.ipx-login-google:hover{
    background: linear-gradient(to right,#d92121,#a63535);
}
/* The Close Button */
#ipx-profile-modal .close {
    color: white;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 28px;
    line-height: 15px;
    font-weight: bold;
}

#ipx-profile-modal .close:hover,
#ipx-profile-modal .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 767px){
    .flagImage {
        height: 150px;
    }
    img.darood-text {
        width: 100%;
        padding: 10px;
    }
    #ipx-profile-modal .close {
        top: 0px;
        right: 3px;
    }
    .ipx-modal-darud {
        font-size: 20px;
    }
    .ipx-hero {
        height: 400px;
        background-size: cover;
        background-position: left;
    }
    .ipx-hero-child {
        flex-direction: column;
    }
    .ipx-hero-child > div {
        width: 100%;
        margin-bottom: 20px;
    }
    button.ipx-btn.btn-block {
        padding: 10px;
        min-width: 100px;
        display: unset;
        width: unset;
    }
    h1.ipx-first-child-heading {
        margin-bottom: 10px;
        margin-top: 0px;
        font-size: 32px;
    }
    p.ipx-light-text {
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 20px;
    }
    .ipx-card-description {
        padding: 1rem;
    }
    .ipx-country-card img {
        margin: 0 auto;
    }
    .ipx-pixels-section {
        margin-top: 70px;
    }
}