header{
    background: white;
    box-shadow: 0 5px 10px #ccc;
}
.ipx-main-nav{
    display: flex;
    padding: 10px;
    width: min(100%, 1100px);
    margin: 0px auto;
}
.ipx-main-nav > a{
    text-decoration: none;
    color: #cfcfcf;
    padding: 13px 15px;
    font-size: 22px;
}
.ipx-main-nav > a:hover{
    color: #888;
}
 footer{
    width:100%;
    height: auto;
    background-position: center;
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}
.ipx-footer-widgets-wrapper{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.ipx-footer-widget{color: white;}
.ipx-footer-nav{display:flex;justify-content: space-between;margin-top: 7px;}
.ipx-footer-nav > a { text-decoration: none;color: #9BC3C6;padding: 5px 10px; margin: 0 10px; }
.ipx-footer-nav > a:hover {color: white;}

@media screen and (max-width: 767px){
    .ipx-footer-widgets-wrapper {
        flex-direction: column;
    }
    .ipx-footer-widget {
        text-align: center;
        margin-bottom: 17px;
    }
    .ipx-footer-nav {
        justify-content: center;
        margin-top: 0;
    }
    .ipx-social-nav {
        display: flex;
        justify-content: center;
    }
    .ipx-social-nav >a{
        padding: 0px 10px;
        margin: 5px 10px;
    }
    .ipx-main-nav > a {
        padding: 5px 5px;
        font-size: 14px;
    }
}
